/* Main colour
---------------------------------------- */

a, .forumbg .header a:hover, .forabg .header a:hover, th a:hover, .postlink, .postlink:visited, .icon.icon-blue, a:hover .icon.icon-blue, .jumpbox-sub-link, dd.profile-warnings, .tabs .tab > a:hover, .tabs .activetab > a, .tabs .activetab > a:hover, .navigation a:hover, .navigation .active-subsection a:hover, .navwrap .dropdown-contents a:hover, .ml-advsearch:hover, a:hover .icon.icon-gray, .memberlist th a:hover
{color:#0088ff;}

.pagination li.active span, .pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger, input.button1:focus, input.button2:focus, input.button3:focus
{background:#0088ff;}

.jumpbox-cat-link, .jumpbox-cat-link:hover, .pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5, .button:hover, .button:focus, a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, .navwrap
{background-color:#0088ff;}

.pagination li.active span, .pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger, .pmlist li.pm_marked_colour, .pm_marked_colour, .inputbox:hover, .inputbox:focus
{border-color:#0088ff;}

.jumpbox-cat-link, .jumpbox-cat-link:hover
{border-top-color:#0088ff;}

.postlink, .pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5
{border-bottom-color:#0088ff;}

.navigation a:hover, .navigation .active-subsection a, .navigation .active-subsection a:hover
{border-left-color:#0088ff;}


/* Highlight colour
---------------------------------------- */

.jumpbox-forum-link, .jumpbox-forum-link:hover, .reported, div.rules, p.post-notice, .contact-icons a:hover, .dropdown-extended ul li:hover
{background-color:#ddeeff;}

li.reported:hover
{background-color:#ddeeff !important;}


/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/topic_read.gif"); }
.global_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.global_read_locked					{ background-image: url("./images/topic_read_locked.gif"); }
.global_read_locked_mine			{ background-image: url("./images/topic_read_locked_mine.gif"); }
.global_unread						{ background-image: url("./images/topic_unread.gif"); }
.global_unread_mine					{ background-image: url("./images/topic_unread_mine.gif"); }
.global_unread_locked				{ background-image: url("./images/topic_unread_locked.gif"); }
.global_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("./images/topic_read.gif"); }
.announce_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.announce_read_locked				{ background-image: url("./images/topic_read_locked.gif"); }
.announce_read_locked_mine			{ background-image: url("./images/topic_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("./images/topic_unread.gif"); }
.announce_unread_mine				{ background-image: url("./images/topic_unread_mine.gif"); }
.announce_unread_locked				{ background-image: url("./images/topic_unread_locked.gif"); }
.announce_unread_locked_mine		{ background-image: url("./images/topic_unread_locked_mine.gif"); }

.forum_link							{ background-image: url("./images/forum_link.png"); }
.forum_read							{ background-image: url("./images/forum_read.gif"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread						{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read						{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("./images/topic_moved.gif"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.gif"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot						{ background-image: url("./images/topic_read.gif"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.gif"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.gif"); }
